---
title: Lessons toward Making a Flask Web Application
mymeta:
  articles:
    - /lessons/flask-app-lessons/hello-tiny-flask-app
    - /lessons/flask-app-lessons/serving-simple-html-response
    - /lessons/flask-app-lessons/organizing-a-multipage-app
---


<section class="uniform-content-resource-listing">
  <% page_mymeta.articles.each do |slug| %>
    <%= content_resource_tag slug %>
  <% end %>
</section>





## Keyboard practice

(TK)

- Besides the browser you're reading this webpage on, open a new browser (i.e. Chrome if you're currently using Safari)
- Pop open your text editor to an empty project
- Create a new file (Cmd + N)
- Save it (as app.py)
- Use Cmd-Tab 
