---
title: Introduction to Simple Web Applications with Flask
description: |
  A series on learning how to make simple, one-file Flask apps.
hide_toc: true
mymeta:
  articles:
    - /lessons/flask-single-page/hello-tiny-flask-app
    - /lessons/flask-single-page/serving-simple-html-response
    - /lessons/flask-single-page/multiple-dynamic-routes-in-flask
    - /lessons/flask-single-page/simple-youtube-viewing-flask-app/
---

<section class="uniform-content-resource-listing">
  <% page_mymeta.articles.each do |slug| %>
    <%= content_resource_element slug %>
  <% end %>
</section>



<!-- 

## Keyboard practice

(TK)

- Besides the browser you're reading this webpage on, open a new browser (i.e. Chrome if you're currently using Safari)
- Pop open your text editor to an empty project
- Create a new file (Cmd + N)
- Save it (as app.py)
- Use Cmd-Tab 
 -->
