@import "site/header";
@import "site/headroom";
@import "site/footer";
@import "site/page";

body{
  padding-top: $header-height;
}


.sec{
  margin-top: 2.5em;

  &:first-child{
    margin-top: 0;
    margin-bottom: 2.5em;
  }
}


a.url-alone{
  &:link, &:visited{
    font-family: $font-family-monospace;
    font-size: 0.95rem;
    padding: 5px;
    display: block;
    overflow-x: auto;
    text-decoration: none !important;
    font-weight: bold;
  }
  &:hover{
    text-decoration: underline !important;
  }
}

