

# Starting iPython



<section>
  <%= asciinema_player '/files/asciinema/launching-ipython.json',
                      '$ ipython', height: 15 %>
</section>



# Exiting iPython

<section>
  <%= asciinema_player '/files/asciinema/exiting-ipython.json',
                      '$ ipython', height: 15 %>
</section>
