
<section class="google-search-box">
  <div class="container">
  <%= partial "/layouts/partials/services/google_custom_search", :locals => {service_id: site_google_custom_search_id} %>
  </div>
</section>

<!-- footer -->
<footer class="site-footer">
    <div class="container">
      <h2>Mah footer</h2>
    </div>
</footer>
