<header class="site-header navbar-fixed-top navbar" id="header-headroom">
    <div class="container">
      <a href="<%=build? ? site_baseurl : '/' %>" class="site-title"><%=site_title%></a>
    </div>
</header>


