#the-page-content{
  display: relative;

  img{
    max-width: 100%;
  }


  p {
    font-family: $font-family-serif;
    a:link, a:visited{
      text-decoration: underline;
    }
  }

  h1{
    margin-top: 3.5rem;
  }

  h2{
    margin-top: 2.2rem;
  }

  table{
    @extend .table;
    @extend .table-sm;
  }

}


#the-page-meta{
  margin-bottom: 2.0rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  .page-description{
    font-size: $font-size-h5;
    color: #434;
  }

  section{
    margin-top: 2.0rem;
  }

  .section-title{
    font-weight: 400;
  }

  .page-summary{
    font-family: $font-family-serif;
  }

  .page-title{
    @extend .h1;
    color: #434;
    font-size: 1.05 * $font-size-h1;
  }

  ul.objectives-list{
    padding-left: 1.0rem;
  }

}




#the-page-footcontent{
  margin-top: 3.0rem;
  padding-top: 1.5rem;

  // .references{
  //   @extend .uniform-content-resource-listing;
  // }
}
