---
title: Introduction to Data-based Web Applications
description: A series on building a simple data app with Flask
hide_toc: true
mymeta:
  articles:
    - /lessons/flask-simple-news-app/flask-fetching-congressmembers-data
    - /lessons/flask-simple-news-app/flask-parsing-congressmember-data
    - /lessons/flask-simple-news-app/flask-app-listing-congress-birthdays
    - /lessons/flask-simple-news-app/flask-app-tweeting-congress-birthdays
---

<section class="uniform-content-resource-listing">
  <% page_mymeta.articles.each do |slug| %>
    <%= content_resource_element slug %>
  <% end %>
</section>


