---
title: Computational Journalism at Stanford University
layout: /layouts/pages/homepage/homepage-layout
has_header: false
page_class: home
---

<% content_card 'Agenda' do %>
  <h2>Today</h2>
  <p>A couple of dumpster-files for links, to be updated (via email notice)</p>
  <ul>
    <li><a href="/lessons/lectures/dollars-for-docs-prehistory">Dollars for Docs prehistory</a></li>
    <li><a href="/lessons/flask-single-page/hello-tiny-flask-app">Making a basic Flask app</a></li>
  </ul>

  <h2>Yesterday</h2>

  <a href="/lessons/lectures/2016-04-04--spreadsheets-and-documents/">April 4 Lecture and Homework</a>

  <h3>Last Week</h3>

  <p><a href="/lessons/static/where-is-nypd-stop-and-frisks">Practice examining NYPD Stop and Frisk Data using interactive Python.</a></p>

<% end %>


<section class="sec">
  <h2>COMM 177A/277A</h2>

<blockquote>
  Focuses on using data and algorithms to lower the cost of discovering stories or telling stories in more engaging and personalized ways. Project based assignments based on real-world challenges faced in newsrooms. Prior experience in journalism or computational thinking helpful. Prerequisite: Comm 273D, COMM 113/213, or the consent of instructor.

</blockquote>


  <section class="sec">
    <h4>Instructor</h4>

    <p>Dan Nguyen, dun@stanford.edu</p>

    <h4>Meeting times</h4>
    <ul class="list-unstyled">
      <li> <a href="https://campus-map.stanford.edu/?id=50-51P">Building 50, Room 51P</a></li>
      <li>Monday and Wednesdays, 9:30AM to 11:20AM</li>
    </ul>


    <h5>Office hours</h5>
    <ul class="list-unstyled">
      <li>Mondays and Wednesdays, 1PM to 3 PM, or by appointment</li>
      <li>McClatchy Hall 342</li>
    </ul>

    <h3>Objectives</h3>
    <ul>
      <li>To count what interests us.</li>
      <li>To count it efficiently.</li>
      <li>To communicate new insights to the public. <a href="http://first-news-app.readthedocs.org/en/latest/">Most likely via building web application</a>.</li>
      <li>"To do what's right and to do it now"</li>
    </ul>

    <h5>Grading</h5>
    <ul>
      <li>Attendance: 10%</li>
      <li><a href="/challenges">Homework</a>: 50%</li>
      <li>Projects: 40%</li>

    </ul>

    <ul>
      <li>There is no final.</li>
      <li>Please let me know several days in advance if you cannot make class.</li>
      <li>There is a final project that will consist of a public-facing web application. Here's a <a href="http://classwork.compjour.org/2015/jeffbarrera/bikecrashmapper/">nice example from a student last year</a>.</li>
      <li>There will be 2 smaller projects, some of which will be worked on in-class and in groups.</li>
      <li>There will be readings/case studies every week.</li>
      <li>There will be <a href="/challenges">challenges every week</a>.</li>
    </ul>
  </section>

  <section>
      <h2>Books and Resources</h2>
      <p>There are no required books, but I'll likely make frequent references to:</p>

      <ul>
        <li><a href="http://datajournalismhandbook.org/">The Data Journalism Handbook</a></li>
        <li><a href="http://www.unc.edu/~pmeyer/book/">The New Precision Journalism</a></li>
        <li><a href="http://towcenter.org/research/the-art-and-science-of-data-driven-journalism/">The Art and Science of Data Driven Journalism</a></li>
        <li><a href="https://source.opennews.org/en-US/">Source OpenNews</a></li>
        <li><a href="https://www.propublica.org/nerds">The ProPublica Nerd Blog</a></li>
      </ul>

      <p>We'll be using Python 3.5 and Github. You should be using a text editor for writing your programs: either <a href="https://www.sublimetext.com/3">Sublime Text 3</a> (<strong>3</strong>, not 2) or <a href="https://atom.io/">Atom</a> will do.</p>
  </section>


</section>




  <section class="syllabus">

  <%= partial '/layouts/pages/homepage/home-partials/syllabus' %>

  </section>
